{% extends 'mysite/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  
   <!-- This refreshes the site every 65 seconds -->
  <meta http-equiv="Refresh" Content="65">
   
   <h1>This is the Stocks section</h1>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">CODE</th>
      <th scope="col">Open Price</th>
      <th scope="col">High Price</th>
      <th scope="col">Low Price</th>
    </tr>
  </thead>
  <tbody>
  	{% for stock in stocks %}
    <tr>
      <th scope="row">{{ stock.name }}</th>
      <td>{{ stock.code }}</td>
      <td>{{ stock.open_price }}</td>
      <td>{{ stock.high_price }}</td>
      <td>{{ stock.low_price }}</td>
      
    </tr>
   
      
    {% endfor %}  
   </tbody>
</table>
  		 

{% endblock %}